{% extends 'base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock title %}

{% block base_head %}
    <link rel='stylesheet' href='{% static "css/home.css" %}' >
    <link rel='stylesheet' href='{% static "css/gridview.css" %}' >
{% endblock %}

{% block content %}
        <div>
            <h1>Salty Frames</h1>
        </div>
        <hr class="col-10 col-md-10 mb-3 mx-auto" style="background-color: #0288D1;">
        <div class="flex-container col-12 col-md-10 mb-3 mx-auto">
            <div class="card mx-auto">
                <a href="{% url 'soulcalibur_vi:home' %}" class="games">
                    <div class="card-header">Soulcalibur VI</div>
                    <div class="card-body">
                        <div class="card-title">Publisher: Bandai Namco </div>
                        <p>Source of Data: <a href="https://8wayrun.com/">8WayRun</a></p>
                    </div>
                </a>
            </div>
            <div class="card mx-auto">
                <a href="#" class="games">
                    <div class="card-header">Tekken 7</div>
                    <div class="card-body">
                        <div class="card-title">Publisher: Bandai Namco</div>
                        <p>Source of Data: <a href="http://rbnorway.org/">RBNorway</a></p>
                    </div>
                </a>
            </div>
        </div> 

{% endblock content %}

