{% extends 'base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock title %}

{% block base_head %}
<link rel='stylesheet' href='{% static "css/table.css" %}' >
{% endblock %}

{% load app_filters %}

{% block content %}
<div class="tableFixHead">
    <table id="first-table" class="table table-condensed">
        <thead>
            <tr>
                <th colspan="3">Move</th>
                <th colspan="3">Command</th>
                <th colspan="3">Level</th>
                <th colspan="1">IMP</th>
                <th colspan="1">GRD</th>
                <th colspan="1">HIT</th>
                <th colspan="1">CH</th>
                <th colspan="1">DMG</th>
                <th colspan="1">GB</th>
                <th colspan="3">Notes</th>
            </tr>
        </thead>
        <tbody>
            {% for table in table_list %}
                <tr>
                    <th colspan="18">{{ table.table_name }}</th>
                </tr>
                {% for move in table.moves_list %}
                    <tr class="move">
                        <td colspan="3">{{ move.attack_name|default_if_none:"-" }}</td>
                        <td colspan="3">
                        {% for command in move.command %}
                            {% with command|command_to_image as image_static %}
                                {% if command in allowable_images %}
                                    <img src="{% static image_static %}" class="notation">
                                {% elif command in allowable_patterns %}
                                    {{ command }}
                                {% else %}
                                    {{ command }}
                                {% endif %}
                            {% endwith %}
                        {% endfor %}                            
                        </td>
                        <td colspan="3">
                            {% for hl in move.height_level %}
                                {% with hl|height_level_to_image as image_static %}
                                    {% if hl in height_level_keys %}
                                        <img src="{% static image_static %}" class="notation">
                                    {% else %}
                                        {{ hl }}
                                    {% endif %}
                                {% endwith %}
                            {% endfor %}
                        </td>
                        <td colspan="1">{{ move.frames_to_impact|default_if_none:"-" }}</td>
                        <td colspan="1">{{ move.recovery_on_guard|default_if_none:"-" }}</td>
                        <td colspan="1">{{ move.recovery_on_hit|default_if_none:"-" }}</td>
                        <td colspan="1">{{ move.recovery_on_counter_hit|default_if_none:"-" }}</td>
                        <td colspan="1">{{ move.base_damage|default_if_none:"-" }}</td>
                        <td colspan="1">{{ move.guard_burst_damage|default_if_none:"-" }}</td>
                        <td colspan="3">{{ move.notes|default_if_none:"-" }}</td>
                    </tr>
                {% endfor %} 
            {% endfor %}
            {% if sectionless_table %}
                <tr class="other-color-row">
                    <th colspan="18">CATEGORY UNKNOWN</th>
                </tr>
                {% for move in sectionless_table %}
                <tr class="move">
                    <td colspan="3">{{ move.attack_name|default_if_none:"-" }}</td>
                    <td colspan="3">
                        {% for command in move.command %}
                            {% with command|command_to_image as image_static %}
                                {% if command in allowable_images %}
                                    <img src="{% static image_static %}" class="notation">
                                {% else %}
                                    {{ command }}
                                {% endif %}
                            {% endwith %}
                        {% endfor %}
                    </td>
                    <td colspan="3">
                        {% for hl in move.height_level %}
                            {% with hl|height_level_to_image as image_static %}
                                {% if hl in height_level_keys %}
                                    <img src="{% static image_static %}" class="notation">                            
                                {% else %}
                                    {{ hl }}
                                {% endif %}
                            {% endwith %}
                        {% endfor %}
                    </td>
                    <td colspan="1">{{ move.frames_to_impact|default_if_none:"-" }}</td>
                    <td colspan="1">{{ move.recovery_on_guard|default_if_none:"-" }}</td>
                    <td colspan="1">{{ move.recovery_on_hit|default_if_none:"-" }}</td>
                    <td colspan="1">{{ move.recovery_on_counter_hit|default_if_none:"-" }}</td>
                    <td colspan="1">{{ move.base_damage|default_if_none:"-" }}</td>
                    <td colspan="1">{{ move.guard_burst_damage|default_if_none:"-" }}</td>
                    <td colspan="3">{{ move.notes|default_if_none:"-" }}</td>
                </tr>
                {% endfor %}    
            {% endif %}
        </tbody>
    </table>

</div>
{% endblock content %}
