{% extends 'base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock title %}

{% block base_head %}
<link rel='stylesheet' href='{% static "css/table.css" %}' >
{% endblock %}

{% block content %}
<div>
    <h1>{{ name }}</h1>
</div>
<hr class="col-10 col-md-10 mb-3 mx-auto" style="background-color: #0288D1;">
<table id="first-table" class="table table-condensed">
    <tr class="primary-color">
        <th colspan="1" class="primary-color">Move</th>
        <th colspan="1">Command</th>
        <th colspan="1">Level</th>
        <th colspan="1">IMP</th>
        <th colspan="1">GRD</th>
        <th colspan="1">HIT</th>
        <th colspan="1">CH</th>
        <th colspan="1">DMG</th>
        <th colspan="1">GB</th>
        <th colspan="1">Notes</th>
    </tr>
    <!-- TABLES -->
    <tr>
        <th colspan="11" class="primary-color">HORIZONTAL ATTACKS</th>
    </tr>
    {% for move in horizontal_table %}
    <tr>
        <td colspan="1">{{ move.attack_name }}</td>
        <td colspan="1">{{ move.command }}</td>
        <td colspan="1">{{ move.height_level }}</td>
        <td colspan="1">{{ move.frames_to_impact }}</td>
        <td colspan="1">{{ move.recovery_on_guard }}</td>
        <td colspan="1">{{ move.recovery_on_hit }}</td>
        <td colspan="1">{{ move.recovery_on_counter_hit }}</td>
        <td colspan="1">{{ move.base_damage }}</td>
        <td colspan="1">{{ move.guard_burst_damage }}</td>
        <td colspan="1">{{ move.notes }}</td>
    </tr>
    {% endfor %}    
    <tr class="other-color-row">
        <th colspan="11">VERTICAL ATTACKS</th>
    </tr>
    {% for move in vertical_table %}
    <tr>
        <td colspan="1">{{ move.attack_name }}</td>
        <td colspan="1">{{ move.command }}</td>
        <td colspan="1">{{ move.height_level }}</td>
        <td colspan="1">{{ move.frames_to_impact }}</td>
        <td colspan="1">{{ move.recovery_on_guard }}</td>
        <td colspan="1">{{ move.recovery_on_hit }}</td>
        <td colspan="1">{{ move.recovery_on_counter_hit }}</td>
        <td colspan="1">{{ move.base_damage }}</td>
        <td colspan="1">{{ move.guard_burst_damage }}</td>
        <td colspan="1">{{ move.notes }}</td>
    </tr>
    {% endfor %}    
    </tr>
    <tr class="other-color-row">
        <th colspan="11">KICK ATTACKS</th>
    </tr>
    {% for move in kick_table %}
    <tr>
        <td colspan="1">{{ move.attack_name }}</td>
        <td colspan="1">{{ move.command }}</td>
        <td colspan="1">{{ move.height_level }}</td>
        <td colspan="1">{{ move.frames_to_impact }}</td>
        <td colspan="1">{{ move.recovery_on_guard }}</td>
        <td colspan="1">{{ move.recovery_on_hit }}</td>
        <td colspan="1">{{ move.recovery_on_counter_hit }}</td>
        <td colspan="1">{{ move.base_damage }}</td>
        <td colspan="1">{{ move.guard_burst_damage }}</td>
        <td colspan="1">{{ move.notes }}</td>
    </tr>
    {% endfor %}    
    </tr>
    <tr class="other-color-row">
        <th colspan="11">DUAL BUTTON ATTACKS</th>
    </tr>
    {% for move in dual_button_table %}
    <tr>
        <td colspan="1">{{ move.attack_name }}</td>
        <td colspan="1">{{ move.command }}</td>
        <td colspan="1">{{ move.height_level }}</td>
        <td colspan="1">{{ move.frames_to_impact }}</td>
        <td colspan="1">{{ move.recovery_on_guard }}</td>
        <td colspan="1">{{ move.recovery_on_hit }}</td>
        <td colspan="1">{{ move.recovery_on_counter_hit }}</td>
        <td colspan="1">{{ move.base_damage }}</td>
        <td colspan="1">{{ move.guard_burst_damage }}</td>
        <td colspan="1">{{ move.notes }}</td>
    </tr>
    {% endfor %}    
    </tr>
    <tr class="other-color-row">
        <th colspan="11">8-WAY RUN</th>
    </tr>
    {% for move in 8_way_run_table %}
    <tr>
        <td colspan="1">{{ move.attack_name }}</td>
        <td colspan="1">{{ move.command }}</td>
        <td colspan="1">{{ move.height_level }}</td>
        <td colspan="1">{{ move.frames_to_impact }}</td>
        <td colspan="1">{{ move.recovery_on_guard }}</td>
        <td colspan="1">{{ move.recovery_on_hit }}</td>
        <td colspan="1">{{ move.recovery_on_counter_hit }}</td>
        <td colspan="1">{{ move.base_damage }}</td>
        <td colspan="1">{{ move.guard_burst_damage }}</td>
        <td colspan="1">{{ move.notes }}</td>
    </tr>
    {% endfor %}    
    </tr>
    <tr class="other-color-row">
        <th colspan="11">SPECIAL MOVES</th>
    </tr>
    {% for move in special_move_table %}
    <tr>
        <td colspan="1">{{ move.attack_name }}</td>
        <td colspan="1">{{ move.command }}</td>
        <td colspan="1">{{ move.height_level }}</td>
        <td colspan="1">{{ move.frames_to_impact }}</td>
        <td colspan="1">{{ move.recovery_on_guard }}</td>
        <td colspan="1">{{ move.recovery_on_hit }}</td>
        <td colspan="1">{{ move.recovery_on_counter_hit }}</td>
        <td colspan="1">{{ move.base_damage }}</td>
        <td colspan="1">{{ move.guard_burst_damage }}</td>
        <td colspan="1">{{ move.notes }}</td>
    </tr>
    {% endfor %}    
    </tr>

    <tr class="other-color-row">
        <th colspan="11">THROWS</th>
    </tr>
    {% for move in throw_table %}
    <tr>
        <td colspan="1">{{ move.attack_name }}</td>
        <td colspan="1">{{ move.command }}</td>
        <td colspan="1">{{ move.height_level }}</td>
        <td colspan="1">{{ move.frames_to_impact }}</td>
        <td colspan="1">{{ move.recovery_on_guard }}</td>
        <td colspan="1">{{ move.recovery_on_hit }}</td>
        <td colspan="1">{{ move.recovery_on_counter_hit }}</td>
        <td colspan="1">{{ move.base_damage }}</td>
        <td colspan="1">{{ move.guard_burst_damage }}</td>
        <td colspan="1">{{ move.notes }}</td>
    </tr>
    {% endfor %}    
    </tr>
    <tr class="other-color-row">
        <th colspan="11">REVERSAL ATTACKS</th>
    </tr>
    {% for move in reversal_attack_table %}
    <tr>
        <td colspan="1">{{ move.attack_name }}</td>
        <td colspan="1">{{ move.command }}</td>
        <td colspan="1">{{ move.height_level }}</td>
        <td colspan="1">{{ move.frames_to_impact }}</td>
        <td colspan="1">{{ move.recovery_on_guard }}</td>
        <td colspan="1">{{ move.recovery_on_hit }}</td>
        <td colspan="1">{{ move.recovery_on_counter_hit }}</td>
        <td colspan="1">{{ move.base_damage }}</td>
        <td colspan="1">{{ move.guard_burst_damage }}</td>
        <td colspan="1">{{ move.notes }}</td>
    </tr>
    {% endfor %}    
    </tr>
    <tr class="other-color-row">
        <th colspan="11">GAUGE ATTACKS</th>
    </tr>
    {% for move in gauge_attack_table %}
    <tr>
        <td colspan="1">{{ move.attack_name }}</td>
        <td colspan="1">{{ move.command }}</td>
        <td colspan="1">{{ move.height_level }}</td>
        <td colspan="1">{{ move.frames_to_impact }}</td>
        <td colspan="1">{{ move.recovery_on_guard }}</td>
        <td colspan="1">{{ move.recovery_on_hit }}</td>
        <td colspan="1">{{ move.recovery_on_counter_hit }}</td>
        <td colspan="1">{{ move.base_damage }}</td>
        <td colspan="1">{{ move.guard_burst_damage }}</td>
        <td colspan="1">{{ move.notes }}</td>
    </tr>
    {% endfor %}    
    </tr>
</table>

{% endblock content %}
