{% extends 'base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock title %}

{% block base_head %}
<link rel='stylesheet' href='{% static "css/table.css" %}' >
{% endblock %}

{% block content %}
<div>
    <h1>{{ name }}</h1>
</div>
<hr class="col-10 col-md-10 mb-3 mx-auto" style="background-color: #0288D1;">
<table id="first-table" class="table table-condensed">
    <tr>
        <th colspan="1">Move</th>
        <th colspan="1">Command</th>
        <th colspan="1">Level</th>
        <th colspan="1">IMP</th>
        <th colspan="1">GRD</th>
        <th colspan="1">HIT</th>
        <th colspan="1">CH</th>
        <th colspan="1">DMG</th>
        <th colspan="1">GB</th>
        <th colspan="3">Notes</th>
    </tr>
    <!-- TABLES -->
    <tr>
        <th colspan="12">HORIZONTAL ATTACKS</th>
    </tr>
    {% for move in horizontal_table %}
    <tr class="move">
        <td colspan="1">{{ move.attack_name|default:"-" }}</td>
        <td colspan="1">{{ move.command|default:"-" }}</td>
        <td colspan="1">{{ move.height_level|default:"-" }}</td>
        <td colspan="1">{{ move.frames_to_impact|default:"-" }}</td>
        <td colspan="1">{{ move.recovery_on_guard|default:"-" }}</td>
        <td colspan="1">{{ move.recovery_on_hit|default:"-" }}</td>
        <td colspan="1">{{ move.recovery_on_counter_hit|default:"-" }}</td>
        <td colspan="1">{{ move.base_damage|default:"-" }}</td>
        <td colspan="1">{{ move.guard_burst_damage|default:"-" }}</td>
        <td colspan="3">{{ move.notes|default:"-"|truncatechars:10 }}</td>
    </tr>
    {% endfor %}    
    <tr class="other-color-row">
        <th colspan="12">VERTICAL ATTACKS</th>
    </tr>
    {% for move in vertical_table %}
    <tr class="move">
        <td colspan="1">{{ move.attack_name|default:"-" }}</td>
        <td colspan="1">{{ move.command|default:"-" }}</td>
        <td colspan="1">{{ move.height_level|default:"-" }}</td>
        <td colspan="1">{{ move.frames_to_impact|default:"-" }}</td>
        <td colspan="1">{{ move.recovery_on_guard|default:"-" }}</td>
        <td colspan="1">{{ move.recovery_on_hit|default:"-" }}</td>
        <td colspan="1">{{ move.recovery_on_counter_hit|default:"-" }}</td>
        <td colspan="1">{{ move.base_damage|default:"-" }}</td>
        <td colspan="1">{{ move.guard_burst_damage|default:"-" }}</td>
        <td colspan="3">{{ move.notes|default:"-"|truncatechars:10 }}</td>
    </tr>
    {% endfor %}    
    </tr>
    <tr class="other-color-row">
        <th colspan="12">KICK ATTACKS</th>
    </tr>
    {% for move in kick_table %}
    <tr class="move">
        <td colspan="1">{{ move.attack_name|default:"-" }}</td>
        <td colspan="1">{{ move.command|default:"-" }}</td>
        <td colspan="1">{{ move.height_level|default:"-" }}</td>
        <td colspan="1">{{ move.frames_to_impact|default:"-" }}</td>
        <td colspan="1">{{ move.recovery_on_guard|default:"-" }}</td>
        <td colspan="1">{{ move.recovery_on_hit|default:"-" }}</td>
        <td colspan="1">{{ move.recovery_on_counter_hit|default:"-" }}</td>
        <td colspan="1">{{ move.base_damage|default:"-" }}</td>
        <td colspan="1">{{ move.guard_burst_damage|default:"-" }}</td>
        <td colspan="3">{{ move.notes|default:"-"|truncatechars:10 }}</td>
    </tr>
    {% endfor %}    
    </tr>
    <tr class="other-color-row">
        <th colspan="12">DUAL BUTTON ATTACKS</th>
    </tr>
    {% for move in dual_button_table %}
    <tr class="move">
        <td colspan="1">{{ move.attack_name|default:"-" }}</td>
        <td colspan="1">{{ move.command|default:"-" }}</td>
        <td colspan="1">{{ move.height_level|default:"-" }}</td>
        <td colspan="1">{{ move.frames_to_impact|default:"-" }}</td>
        <td colspan="1">{{ move.recovery_on_guard|default:"-" }}</td>
        <td colspan="1">{{ move.recovery_on_hit|default:"-" }}</td>
        <td colspan="1">{{ move.recovery_on_counter_hit|default:"-" }}</td>
        <td colspan="1">{{ move.base_damage|default:"-" }}</td>
        <td colspan="1">{{ move.guard_burst_damage|default:"-" }}</td>
        <td colspan="3">{{ move.notes|default:"-"|truncatechars:10 }}</td>
    </tr>
    {% endfor %}    
    </tr>
    <tr class="other-color-row">
        <th colspan="12">8-WAY RUN</th>
    </tr>
    {% for move in 8_way_run_table %}
    <tr class="move">
        <td colspan="1">{{ move.attack_name|default:"-" }}</td>
        <td colspan="1">{{ move.command|default:"-" }}</td>
        <td colspan="1">{{ move.height_level|default:"-" }}</td>
        <td colspan="1">{{ move.frames_to_impact|default:"-" }}</td>
        <td colspan="1">{{ move.recovery_on_guard|default:"-" }}</td>
        <td colspan="1">{{ move.recovery_on_hit|default:"-" }}</td>
        <td colspan="1">{{ move.recovery_on_counter_hit|default:"-" }}</td>
        <td colspan="1">{{ move.base_damage|default:"-" }}</td>
        <td colspan="1">{{ move.guard_burst_damage|default:"-" }}</td>
        <td colspan="3">{{ move.notes|default:"-"|truncatechars:10 }}</td>
    </tr>
    {% endfor %}    
    </tr>
    <tr class="other-color-row">
        <th colspan="12">SPECIAL MOVES</th>
    </tr>
    {% for move in special_move_table %}
    <tr class="move">
        <td colspan="1">{{ move.attack_name|default:"-" }}</td>
        <td colspan="1">{{ move.command|default:"-" }}</td>
        <td colspan="1">{{ move.height_level|default:"-" }}</td>
        <td colspan="1">{{ move.frames_to_impact|default:"-" }}</td>
        <td colspan="1">{{ move.recovery_on_guard|default:"-" }}</td>
        <td colspan="1">{{ move.recovery_on_hit|default:"-" }}</td>
        <td colspan="1">{{ move.recovery_on_counter_hit|default:"-" }}</td>
        <td colspan="1">{{ move.base_damage|default:"-" }}</td>
        <td colspan="1">{{ move.guard_burst_damage|default:"-" }}</td>
        <td colspan="3">{{ move.notes|default:"-"|truncatechars:10 }}</td>
    </tr>
    {% endfor %}    
    </tr>

    <tr class="other-color-row">
        <th colspan="12">THROWS</th>
    </tr>
    {% for move in throw_table %}
    <tr class="move">
        <td colspan="1">{{ move.attack_name|default:"-" }}</td>
        <td colspan="1">{{ move.command|default:"-" }}</td>
        <td colspan="1">{{ move.height_level|default:"-" }}</td>
        <td colspan="1">{{ move.frames_to_impact|default:"-" }}</td>
        <td colspan="1">{{ move.recovery_on_guard|default:"-" }}</td>
        <td colspan="1">{{ move.recovery_on_hit|default:"-" }}</td>
        <td colspan="1">{{ move.recovery_on_counter_hit|default:"-" }}</td>
        <td colspan="1">{{ move.base_damage|default:"-" }}</td>
        <td colspan="1">{{ move.guard_burst_damage|default:"-" }}</td>
        <td colspan="3">{{ move.notes|default:"-"|truncatechars:10 }}</td>
    </tr>
    {% endfor %}    
    </tr>
    <tr class="other-color-row">
        <th colspan="12">REVERSAL ATTACKS</th>
    </tr>
    {% for move in reversal_attack_table %}
    <tr class="move">
        <td colspan="1">{{ move.attack_name|default:"-" }}</td>
        <td colspan="1">{{ move.command|default:"-" }}</td>
        <td colspan="1">{{ move.height_level|default:"-" }}</td>
        <td colspan="1">{{ move.frames_to_impact|default:"-" }}</td>
        <td colspan="1">{{ move.recovery_on_guard|default:"-" }}</td>
        <td colspan="1">{{ move.recovery_on_hit|default:"-" }}</td>
        <td colspan="1">{{ move.recovery_on_counter_hit|default:"-" }}</td>
        <td colspan="1">{{ move.base_damage|default:"-" }}</td>
        <td colspan="1">{{ move.guard_burst_damage|default:"-" }}</td>
        <td colspan="3">{{ move.notes|default:"-"|truncatechars:10 }}</td>
    </tr>
    {% endfor %}    
    </tr>
    <tr class="other-color-row">
        <th colspan="12">GAUGE ATTACKS</th>
    </tr>
    {% for move in gauge_attack_table %}
    <tr class="move">
        <td colspan="1">{{ move.attack_name|default:"-" }}</td>
        <td colspan="1">{{ move.command|default:"-" }}</td>
        <td colspan="1">{{ move.height_level|default:"-" }}</td>
        <td colspan="1">{{ move.frames_to_impact|default:"-" }}</td>
        <td colspan="1">{{ move.recovery_on_guard|default:"-" }}</td>
        <td colspan="1">{{ move.recovery_on_hit|default:"-" }}</td>
        <td colspan="1">{{ move.recovery_on_counter_hit|default:"-" }}</td>
        <td colspan="1">{{ move.base_damage|default:"-" }}</td>
        <td colspan="1">{{ move.guard_burst_damage|default:"-" }}</td>
        <td colspan="3">{{ move.notes|default:"-"|truncatechars:10 }}</td>
    </tr>
    {% endfor %}    
    </tr>
</table>

{% endblock content %}
