{% extends 'base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock title %}

{% block base_head %}
<link rel='stylesheet' href='{% static "css/gridview.css" %}' >
{% endblock %}

{% block content %}
<div id="content-head">
    <div>
        <h1>Soulcalibur VI</h1>
    </div>
    <hr class="col-10 col-md-10 mb-3 mx-auto" style="background-color: #0288D1;">
    <div class="flex-container col-12 col-md-10 mb-3 mx-auto">
        {% for character in characters %}
            <div class="card mx-auto">
                <a href="{{ character.slug }}/">
                    <div class="card-header">{{ character.name }}</div>
                    <div class="card-body">
                        <img src="{{ character.image.url }}">
                        <div class="card-title">Last updated: {{ character.date_time_version|date:"SHORT_DATE_FORMAT" }} </div>
                        <div class="card-body"><a href="characters-api/{{ character.id }}/">API View</a></div>
                    </div>
                </a>       
            </div>
        {% endfor %}
    </div>
    <hr class="col-12 col-md-10 mb-3 mx-auto" style="background-color: #0288D1;">
    <div class="col-12 col-md-10 mb-3 mx-auto">
        <div>

            <div>
                <h2>Table Columns</h2>
            </div>
            
            <div>Move</div>
            <p>English <strong>name</strong> of the move.</p>
            
        
            <div>Command</div>
            <p><strong>Input</strong> to execute move.</p>
        
        
            <div>Level</div>
            <p>Describes the <strong>height level</strong> of the move.</p>
        
        
            <div>IMP</div>
            <p>Frames to <strong>impact</strong> the amount of frames it takes a move to become active.</p>


            <div>DMG</div>
            <p><strong>Damage</strong> that will be dealt on hit.</p>
        
        
            <div>GRD</div>
            <p>How many frames you will be in advantage or disadvantage if this move is <strong>blocked</strong>.</p>
        
        
            <div>Hit</div>
            <p>How many frames you will be in advantage or disadvantage if this move <strong>hits</strong>.</p>
        
        
            <div>CH</div>
            <p>How many frames you will be in advantage or disadvantage when landing a <strong>Counter Hit</strong>.</p>
        
        
            <div>Notes</div>
            <p>Additional <strong>Notes</strong>. Please note that the icon processing system hasn't been implementedin this version. That's why you will see notes with format like this: "	:GI::H::M: [8-20], +6 and 2 stacks towards Dark Legacy on successful GI" where the it is displayed in code separated by colons as opposed to using images. This will be fixed soon.</p>
        
        </div>
        <div>
            White arrows indicate which direction to <strong>press</strong>.
            Black arrows indicate which direction to <strong>press twice</strong>.
            <strong>Horizontal</strong> Attack.
            <strong>Vertical</strong> Attack.
            <strong>Kick</strong> Attack Move."},
            <strong>Guard</strong> Move."},
            Black letters will indicate which attack button to <strong>hold down</strong>.
            "When a button is shown <strong>small</strong> it should be <strong>pressed briefly</strong> before moving on to the next input.
            The asterisk stands for <strong>OR</strong>.
            The plus will indicate when you have to press multiple inputs <strong>together</strong>.
            C H - The move behaves differently on <strong>counter hit</strong>.
            The move is performed during <strong>full crouch</strong>.
            The move is performed while being <strong>back turned</strong>.
            The move is performed <strong>while rising</strong> from a crouch.
            The move is performed while <strong>running</strong>.
            The move is performed while <strong>jumping</strong>.
            Press next input <strong>during hit</strong> or activates <strong>on hit</strong>.
            <!--Press next input <strong>during guard or hit</strong> or activates <strong>on guard or hit</strong>.-->
            Move can only be executed while in <strong>Soul Charge</strong> mode.
            <!--Activates on successful <strong>Guard Impact</strong>.-->
            Perform input after <strong>Reversal Edge Clash</strong>.
            <!--Input needs to be executed <strong>fast</strong>.-->
            : - Input needs to be a <strong>just input (input with exact timing)</strong>.
            <!--Activated when <strong>being hit while performing the move (revenge)</strong>.-->
            <!--Versus a <strong>downed</strong> opponent.-->
            <!--Versus a <strong>crouching</strong> opponent.-->
            Versus an <strong>airborne</strong> opponent.
            During <strong>Eight-Way-Run</strong> movement.
            <!--Performed while being <strong>downed</strong>.-->
            <!--Activated when the move connects <strong>close</strong>.-->
            <!--Input the next button <strong>during motion</strong>(Geralt only)-->
        </div>
    
    </div>
</div>
{% endblock content %}
