{% load static %}

{% block base_head %}
<link rel='stylesheet' href='{% static "css/modal.css" %}' >
<script src="{% static 'js/modal.js' %}" type="text/javascript"></script>
{% endblock %}



<div class="tweekbutton" id="myBtn"><button class="skittles-button" id="modal-button"><i class="fa fa-key"></i></button></div>

<div class="bg-modal">
    <div class="modal-content">
        <div id="close"><button class="skittles-button" id="close-button"><i class="fa fa-times"></i></button></div>
        <div class="flex-container">
            <h2>Table Columns</h2>
        </div>
        {% for column in columns %}
            <div class="column-flex-container">
                <div class="word-label">{{ column.label }}</div>
                <div><p>{{ column.message }}</p></div>
            </div>   
        {% endfor %}
        <div class="flex-container">
            <h2>Inputs</h2>
        </div> 
    
        {% for input in inputs %}
            <div class="flex-container">
                {% with input.label as label %}
                    <div><img src="{% static label %}" class="notation"></div>
                {% endwith %}
                <div><p>{{ input.message }}</p></div>
            </div>   
        {% endfor %}
    </div>
</div>


