#content-head {
    overflow-y: auto;
    height: 100%;
    background-color: #00172D;
    border: 2px solid #0288D1;
}
.card {
    padding: 0px !important;
    border: 2px solid #00172D;
    font-weight: bolder;
    border-radius: 2.0rem;
    border: 2px solid #039BE5;
    margin: 10px;
}
.card-header {
    background: #039BE5;  /* fallback for old browsers */
    color: #00172D;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    border: 2px solid #039BE5;
    border-top-right-radius: 1.5rem !important;
    border-top-left-radius: 1.5rem !important;
    height: 100%;
    width: 100%;

}
.card-body {
    background-color: white;
    border-radius: 2.0rem;
}
.card-title {
    background-color: white;
    border-radius: 2.0rem;
}
a {
    color: #00172D;
}
a:hover {
    text-decoration: none;
    color: #0288D1;
}
.flex-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.flex-container > div {
  margin: 10px;
  padding: 20px;
  flex-basis: 33%;
  min-width: 100%;
} 

/*mobile only*/
#content-head {
    border-radius: none;
}

/*PC only*/
@media screen and (min-width: 992px) {
    #content-head {
        border-radius: 2.0rem;
    }
    .flex-container {
        flex-flow: row wrap;
    }
    .flex-container > div {
        margin: 10px;
        padding: 20px;
        flex-basis: 33%;
        min-width: 33%;
    } 
}