.card {
    margin-top: 25px;
}

.mail-link {
    font-size: 2em; /* mobile only */
} 
#home-envelope:hover {
    color: #00acee;
    text-shadow: 0px 0px 3px #00acee;
}

/*PC only*/
@media screen and (min-width: 992px) {
    .card {
        margin-top: 50px;
    }
    .mail-link {
        font-size: 5em;
        color: white;
    }
}