
/*global*/
body {
    color: #404040;
}
#banner {
    display: none;
} 

.card {
    border: 2px solid #643b36;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
#footer {
    height: 0;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}


/*PC only*/
@media screen and (min-width: 992px) {
    /* banner */
    #banner {
        display: block;
    }
    /*body*/
    .card {
        padding: 25px 50px 75px;
        margin-right: 5%;
        margin-left: 5%;
        margin-bottom: 40px;
    }

    #about-us-img {
        margin-bottom: 100px;
    }

    /*footer*/
    footer {
        padding-top: 50px;
    }
}