{% load static %}

{% block base_head %}
  <link rel='stylesheet' href='{% static "css/footer.css" %}' >
{% endblock %}

<footer id="app-footer" class="text-center center-block">
    Character art by MaiMai_art
    <div id="copyright" class="footer-p">
        ©SNK CORPORATION ALL RIGHTS RESERVED.<br>
        ©2017 SQUARE ENIX CO., LTD. All Rights Reserved. <br>
        CD PROJEKT®, The Witcher®, Geralt® are registered trademarks of CD PROJEKT Capital Group.<br>
        The Witcher game © CD PROJEKT S.A. Developed by CD PROJEKT S.A. 
        All rights reserved. SOULCALIBUR™Ⅵ ＆ ©2018 BANDAI NAMCO Entertainment Inc.<br>

        Salty Frames is not affiliated with BANDAI NAMCO Entertainment Inc., SQUARE ENIX CO., CD PROJEKT® LTD or SNK CORPORATION it is owned run by Rush Code. All other registered trademarks are the property of their respective owners.
        
    </div>
</footer>