{% load static %}

{% block base_head %}
  <link rel='stylesheet' href='{% static "css/footer.css" %}' >
{% endblock %}

<footer id="app-footer" class="text-center center-block">
    <a
    href="https://twitter.com/RayGarc7"
    target="_blank"
    class="footer-links dev-logo"
    >
        <span>{</span>
            <i class="fa fa-twitter"></i>
        <span>}</span>
    </a>
    <div class="footer-p">Character art by @MaiMai_art_</div>
    <div id="copyright" class="footer-p">
        ©2017 SQUARE ENIX CO., LTD. All Rights Reserved. CD PROJEKT®, The Witcher®, Geralt® are registered trademarks of CD PROJEKT Capital Group.
        The Witcher game © CD PROJEKT S.A. Developed by CD PROJEKT S.A. All rights reserved.
        SOULCALIBUR™Ⅵ ＆ © BANDAI NAMCO Entertainment Inc.
    </div>
</footer>