{% load static %}

{% block base_head %}
  <link rel='stylesheet' href='{% static "css/footer.css" %}' >
{% endblock %}

<footer id="app-footer" class="text-center center-block">
    <a
    href="mailto:rgarcia.7770@gmail.com?subject=I'm an employer and I would like to get in contact!"
    class="footer-links"
    ><i class="fa fa-envelope"></i></a>
    <a
    href="https://twitter.com/RayGarc7"
    target="_blank"
    class="footer-links dev-logo"
    >
        <span>{</span>
            <i class="fa fa-twitter"></i>
        <span>}</span>
    </a>
    <div>© 2020 and 2021 Copyright: Ray Gar</div>
</footer>